fastapi==0.115.0
uvicorn==0.30.6

langchain==0.3.27                
langchain-openai==0.3.32         
langchain-ollama==0.3.7
langgraph==0.6.6
typing-extensions==4.12.2

pydantic==2.11.7
python-dotenv==0.21.0

celery[redis]==5.4.0
redis==5.2.1

prometheus-client==0.21.0
prometheus-fastapi-instrumentator==7.1.0 

opentelemetry-sdk==1.28.2
opentelemetry-instrumentation==0.49b2
opentelemetry-instrumentation-fastapi==0.49b2
opentelemetry-instrumentation-celery==0.49b2
opentelemetry-instrumentation-logging==0.49b2

structlog==24.4.0

requests==2.32.3
